{% extends 'layout/auth_base.html' %}
{% load static %}

{% block title %}
change Password | Student Management System
{% endblock title %}

{% block content %}
<div class="login-left">
    <img class="img-fluid" src="{% static 'assets/img/logo-white.png' %}" alt="Logo">
</div>
<div class="login-right">
    <div class="login-right-wrap">
        <h4>Change your password here!</h4>
        <!-- <p class="account-subtitle">Change your password here!</p> -->
        <!-- messages start -->
        {% if messages %}
        {% for message in messages %}
        <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" 
        {% endif %}>
            <strong>
                <h5 class="text-center">{{ message }}</h5>
            </strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
        <!-- messages end  -->
        <form action="{% url 'change_password' %}" method="POST">
            {% csrf_token %}

            <div class="form-group">
                <input class="form-control" name="current_password" type="password" required placeholder="Current Password">
            </div>
            <hr>
            <div class="form-group">
                <input class="form-control" type="password" name="new_password" placeholder="New Password" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="confirm_new_password" placeholder="Confirm New Password" required>
            </div>
           
            <div class="form-group mb-1">
                <button class="btn btn-success btn-block" type="submit">Change Password</button>
            </div>
        </form>
        <div class="form-group mb-0">
            <a href="{% url 'index' %}" class="btn btn-primary btn-block">Back to home</a>

        </div>
        <!-- <div class="text-center dont-have">Remember your password? <a href="login.html">Login</a> -->
        </div>
    </div>
</div>
{% endblock content %}