{% extends 'layout/base.html' %}
{% load static %}


{% block title %}
{{student.name|upper}} | STUDENT MANAGEMENT SYSTEM
{% endblock title %}



{% block content %}
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Student Details</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="">Student</a></li>
                        <li class="breadcrumb-item active">Student Details</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="about-info">
                            <h4>About Me</h4>
                            <div class="media mt-3">
                                <img src="{{student.photo.url}}" class="mr-3" alt="...">
                                <div class="media-body">
                                    <ul>
                                        <li>
                                            <span class="title-span">Full Name : </span>
                                            <span class="info-span">{{student.name}}</span>
                                        </li>
                                        <li>
                                            <span class="title-span">Course : </span>
                                            <span class="info-span">{{student.course.name}}</span>
                                        </li>
                                        <li>
                                            <span class="title-span">Mobile : </span>
                                            <span class="info-span">{{student.phone}}</span>
                                        </li>
                                        <li>
                                            <span class="title-span">Email : </span>
                                            <span class="info-span">{{student.email}}</span>
                                        </li>
                                        <li>
                                            <span class="title-span">Gender : </span>
                                            <span class="info-span">{{student.gender}}</span>
                                        </li>
                                        <li>
                                            <span class="title-span">Age : </span>
                                            <span class="info-span">{{student.age}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <hr>

                            <div class="row mt-2">
                                <div class="col-md-12">
                                    <h5>Address</h5>
                                    <p>{{student.address}}</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}