{% extends 'layout/auth_base.html' %}
{% load static %}

{% block title %}
Login | Student Management System
{% endblock title %}

{% block content %}
<div class="login-left">
   <img class="img-fluid" src="{% static 'assets/img/logo-white.png' %}" alt="Logo">
</div>
<div class="login-right">
   <div class="login-right-wrap">
      <h1>Login</h1>
      <p class="account-subtitle">Access to our dashboard</p>
      <!-- messages start -->
      {% if messages %}
      {% for message in messages %}
      <div
      {% if message.tags %}
          class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert"
      {% endif %}>
          <strong>
              <h5 class="text-center">{{ message }}</h5>
          </strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
      {% endfor %}
      {% endif %}
      <!-- messages end  -->
      <form action="{% url 'user_login' %}" method="POST">
         {% csrf_token %}
         <div class="form-group">
            <input class="form-control" name="username" type="text" placeholder="Username" required>
         </div>
         <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password" required>
         </div>
         <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit">Login</button>
         </div>
      </form>


      <div class="text-center dont-have">Don’t have an account? <a href="{% url 'user_signup' %}">Register</a></div>
   </div>
</div>
{% endblock content %}
   