<!DOCTYPE html>
<html lang="en">
    {% load static %}
   
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
      <title>
      {% block title %}
         Dashboard | Student Management System
      {% endblock title %}
      </title>
      <link rel="shortcut icon" href="{% static 'assets/img/favicon.png' %}">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&amp;display=swap">
      <link rel="stylesheet" href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
   </head>
   <body>
      <div class="main-wrapper">
         <div class="header">
            <div class="header-left">
               <a href="{% url 'index' %}" class="logo">
               <img src="{% static 'assets/img/logo.png' %}" alt="Logo">
               </a>
               <a href="{% url 'index' %}" class="logo logo-small">
               <img src="{% static 'assets/img/logo-small.png' %}" alt="Logo" width="30" height="30">
               </a>
            </div>
            <a href="javascript:void(0);" id="toggle_btn">
            <i class="fas fa-align-left"></i>
            </a>
            <a class="mobile_btn" id="mobile_btn">
            <i class="fas fa-bars"></i>
            </a>
            <ul class="nav user-menu">
               
               <li class="nav-item dropdown has-arrow">
                  <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                  <span class="user-img"><img class="rounded-circle" src="{% static 'assets/img/profiles/avatar-01.jpg' %}" width="31" alt="Ryan Taylor"></span>
                  </a>
                  <div class="dropdown-menu">
                     <div class="user-header">
                        <div class="avatar avatar-sm">
                           <img src="{% static 'assets/img/profiles/avatar-01.jpg' %}" alt="User Image" class="avatar-img rounded-circle">
                        </div>
                        <div class="user-text">
                           {% if request.user.is_authenticated %}
                           <h6>{{user.username|capfirst}}</h6>   
                            {% else %}
                            <h6>AAA</h6>               
                           {% endif %}
                           {% if user.username == 'admin' %}
                           <p class="text-muted mb-0">Administrator</p>
                           {% else %}
                           <p class="text-muted mb-0">Junior Administrator</p>
                           {% endif %}
                        </div>
                     </div>
                     <a class="dropdown-item" href="{% url 'profile' username=user.username %}">My Profile</a>
                     <a class="dropdown-item" href="{% url 'change_password' %}">Change Password</a>
                     <a class="dropdown-item" href="{% url 'user_logout' %}">Logout</a>
                  </div>
               </li>
            </ul>
         </div>
         {% include 'layout/sidebar.html' %}
         
         {% block content %}
            
         {% endblock content %}
         <div class="div">
            <footer class="text-center">
               <p>Copyright © 2025 MinionsMilu.</p>
            </footer>
         </div>

            
      </div>
      <script>
         $(document).ready(function () {
             // Sidebar Toggle Function
             $('#toggle_btn').click(function () {
                 $('.sidebar').toggleClass('active');
             });
      
             // Mobile Sidebar Toggle
             $('#mobile_btn').click(function () {
                 $('.main-wrapper').toggleClass('slide-nav');
             });
         });
      </script>
      
      
      <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
      <script src="{% static 'assets/js/popper.min.js' %}"></script>
      <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
      <script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
      <script src="{% static 'assets/plugins/apexchart/apexcharts.min.js' %}"></script>
      <script src="{% static 'assets/plugins/apexchart/chart-data.js' %}"></script>
      <script src="{% static 'assets/js/script.js' %}"></script>
   </body>
   
</html>